/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
  font-family: 'Montserrat', sans-serif !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.authboard {
  background-image: url('https://source.unsplash.com/random/?mystery,night');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.auth-body {
  padding-top: 4em;
}
